---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1

---
<section id="intro" class="alt_bg">
	<div class="container">
		<h2>About the Council </h2>
		<p>The Inclusive Higher Education Accreditation Council (IHEAC) is an independent accrediting agency for college and university programs that serve students with ID. The IHEAC aims to promote standards-based quality programming for students with ID who attend colleges and universities. The agency is approved as a <a href="/img/501c3.pdf">tax-exempt organization</a> under Section 501(c)(3) of the U.S. Internal Revenue Code.</p>

<hr>
<div class="row">
	
	<div class="col-lg-8">
<h2>Program Accreditation Standards </h2>

<p>The Program Accreditation Standards are designed to help programs ensure that they meet quality assurance standards in the field of inclusive higher education. The standards address key areas of college and university programming related to student outcomes and individualized supports. Programs that become accredited demonstrate a level of quality programming for students with ID. Learn more about the  standards and how your program can begin preparing for accreditation: </p>
<ul>
	<li><a href="https://docs.communityinclusion.org/guide-to-accreditation-for-higher-ed-programs/section-3/program-standards-guidance-and-evidence-required-for-review">Program Accreditation Standards, Guidance and Review Requirements</a></li>
	<li><a href="https://thinkcollege.net/think-college-news/tools-to-explore-the-program-accreditation-standards">Tools for Preparing for Program Accreditation</a></li>
</ul>
<hr>
<h2>Quality Programs are Vital to Student Success </h2>
<p>Program accreditation provides an opportunity to demonstrate quality assurance and programming. Accreditation also provides legitimacy for programs that meet the standards and guidelines for colleges and universities considering establishing quality programs for students with intellectual disability (ID). In addition, programs can show how they support student success through completion and graduation rates.</p>

	</div>
	<div class="col-lg-4"> <div class="card call_out"><div class="card-body">
		<p class="lead">Contact us for more information about IHEAC</p> <!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
		  Get In Touch
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h1 class="modal-title fs-5" id="contactModalLabel">Contact Us</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<form name="contact" method="POST" data-netlify="true">
					<p>
					  <label class="form-label">Your Name: <input type="text" name="name" class="form-control" /></label>
					</p>
					<p>
					  <label class="form-label">Your Email: <input type="email" name="email" class="form-control" /></label>
					</p>
					<p>
						<label class="form-label">Job Title: <input type="text" name="title" class="form-control" /></label>
					</p>
					<p>
					  <label class="form-label">Message: <textarea name="message" class="form-control" ></textarea></label>
					</p>
					<p>
					  <button type="submit" btn btn-primary>Send</button>
					</p>
				  </form>
				  
			  </div>
			</div>
		  </div>
		  
		</div>
	</div>
 </div>
 <br>
 <div class="card call_out"><div class="card-body">
	<p class="lead">The 2024 Guide to Accreditation for Higher Education Programs for Students with Intellectual Disability</p>
	<p><a href="https://docs.communityinclusion.org/guide-to-accreditation-for-higher-ed-programs/overview/table-of-contents"  class="btn btn-primary" >
	  Use the Web-Based Guide
	</a></p>
	<p><a href="/img/PDF-2024-accreditation-guide-.pdf"  class="btn btn-primary" >
		Download the PDF
	  </a></p>

</div>
</div>
 </div>
 </div>
</div>
</div>
	</div>
</section>

{% include 'news.njk' %} 



<section id="programs" class="alt_bg" >
	<div class="container">
	<h2>Accredited Programs</h2>
	<p>Programs are determined to be accredited, provisionally accredited, or not accredited. Learn about <a href="/img/IHEAC-Accreditation-Determination-adopted-5-3-23.pdf">the criteria for each of these accreditation determinations</a>.</p>
	<div class="grid-30">
		<div class="card" >
			<center>
				<a href="https://aceitincollege.org/" title="VCU's ACE-IT"><img src="/img/ace-vcu.png" alt="VCU's ACE-IT" class="card-img-top"></a></center>
				<div class="card-body">
				</div>
				</center>
			  </div>
	<div class="card" >
	<center>
		<a href="https://www.wcu.edu/learn/departments-schools-colleges/ceap/stl/special-education-programs/university-participant-up-program/index.aspx" title="Western Carolina University UP Program"><img src="/img/UPLogo.jpg" alt="Western Carolina University UP logo" class="card-img-top"></a></center>
		<div class="card-body">
		</div>
		</center>
	  </div>

	  <div class="card">
		<center>
			<a href="https://inclusiveservices.uccs.edu/" title="Office of Inclusive Services at the University of Colorado Colorado Springs"><img src="/img/UCCS_LOGO.jpeg" alt="Office of Inclusive Services at the University of Colorado Colorado Springs" class="card-img-top"></a></center>
			<div class="card-body">
			</div>
			</center>
		  </div>

	
	</div>
	</div>
</section>

<section id="board">
	<div class="container">
	<h2>Board Members </h2>
	<div class="row row-cols-1 row-cols-md-2 g-4">
	  <div class="col pb-3">
		<div class="card h-100  ">
		  
		  <div class="card-body">
			<img src="/img/smith.jpg" class="float-start p-3" alt="Stephanie Smith">
			<p class="card-text"><strong>Stephanie Smith Lee, Board President</strong>, is a senior policy advisor with over 30 years of public policy expertise, including senior Congressional staff positions. Since her daughter, Laura, was born with Down syndrome in 1982, she has led successful disability advocacy efforts at the local, state, and Federal levels. As the Director of the US Office of Special Education Programs, she was responsible for the implementation of IDEA, the federal special education law. As Co-Chair of the Inclusive Higher Education Committee, she led the successful effort to obtain federal financial aid and authorize model programs for postsecondary students with ID.</p>
		  </div>
		</div>
	  </div>
	  <div class="col pb-3">
		<div class="card h-100 py-2">
		  
		  <div class="card-body">
			<img src="/img/will.png" class="float-start p-3" alt="Madeleine C. Will">
			<p class="card-text"><strong>Madeleine C. Will, Vice President</strong>,  is a policy expert and advisor. Madeleine has more than 35 years  of experience successfully advocating for individuals with intellectual disabilities and their families. Since her adult son, Jonathan, was born with Down syndrome, she has led successful disability policy efforts at the local, state, and federal levels. She served as the Assistant Secretary of the Office of Special Education and Rehabilitative Services under President Reagan. In 2007, Madeleine founded the Collaboration to Promote Self-Determination. </p>
		  </div>
		</div>
	  </div>
	</div>
	<div class="row row-cols-1 row-cols-md-2 g-4">
	  <div class="col pb-3">
		<div class="card h-100 py-2">
		  <div class="card-body">
			<img src="/img/tom.png" class="float-start p-3" alt="Tom Sannicandro">
			<p class="card-text"><strong>Tom Sannicandro, JD, PhD, Treasurer</strong>,  has been practicing law for over 20 years in the areas of disability and special education law, and estate planning. He was formerly the Director of the Institute for Community Inclusion. Tom served in the Massachusetts legislature for 12 years where he authored a number of groundbreaking laws that empower people with disabilities. </p>
		  </div>
		</div>
	  </div>
	  <div class="col pb-3">
		<div class="card h-100 py-2">
		  <div class="card-body">
			<img src="/img/Elise-vertical-2023.jpg" class="float-start p-3" alt="Elise McMillan">
			<p class="card-text"><strong>Elise McMillan, JD, Clerk</strong>, is the former Director of the Vanderbilt Kennedy University Center for Excellence in Developmental Disabilities (UCEDD), Elise McMillan has more than 20 years' experience in leading programs and projects that support individuals with intellectual and developmental disabilities, their families, and their communities. She holds leadership roles in numerous national, state, and community disabilities organizations, including, the Tennessee Council on Developmental  Disabilities, and the Disability Law and Advocacy Center of Tennessee.</p>
		  </div>
		</div>
	  </div>
	</div>
	<div class="row col-lg-8 mx-auto">
		<div class="col pb-3">
		  <div class="card h-100 py-2">
			<div class="card-body">
			  <img src="/img/mock.jpg" class="float-start p-3" alt="Martha Mock">
			  <p class="card-text"><strong>Martha Mock, Ph.D., IHEA Council Executive Director</strong> and a Professor at the Warner School of Education and Human Development, at the University of Rochester. She is also the director of the Center on Disability and Education. Mock has worked alongside and on behalf of individuals with disabilities and their families as a teacher, professor and advocate for three decades. Mock is widely known for her work in the area of college options for students with intellectual and developmental disabilities (IDD). She is the chair of the Accreditation Workgroup for the National Coordinating Center at Think College, and is the co-founder of the New York Inclusive Higher Education Coalition, a group of colleges, agencies, and families interested in promoting inclusive higher education throughout New York State.</p>
			</div>
		  </div>
		</div>
	
	  </div>
		  
	</div>
		
</section>

<section id="partners" class="alt_bg" >
	<div class="container">
	<h2>Partners</h2>
	<div class="row">

	<div class="col-lg border text-center"> <a href="https://thinkcollege.net/projects/ncc"><img alt="National Coordinating Center" src="/img/NCC_logo_300x200.png" class="img-fluid"></a></div>
	
	<div class="col-lg border text-center"><a href="https://weaveeducation.com/"><img src="/img/Weave-Horizontal-Logo-RGB.webp" alt="Weave" class="img"></a></div>
	</div>
	</div>
</section>

 