---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1

---
<section id="intro" class="alt_bg">
	<div class="container">

<h2>About the Council</h2>
<p>The former 2015-2021 National Coordinating Center (NCC) Accreditation Workgroup determined that no current accrediting agency exists that could meet all our needs. In 2021 the NCC Accreditation Workgroup called for the development of an independent agency to provide accreditation. Therefore, the 2021-2025 NCC Accreditation Workgroup and Think College leaders worked to build the infrastructure and operationalize the framework for this Council. The Council will specialize in the accreditation of programs for students with intellectual disability and plans to apply for national recognition of the new agency by 2025.</p>
<hr>
<div class="row">
	
	<div class="col-lg-8">
<h3>Accreditation of programs is important</h3>

<p>Accreditation offers a way to indicate that a program is meeting basic quality standards in a number of key areas. Accreditation of programs creates quality benchmarks for programs that are useful to the institutions and to students and parents. It provides legitimacy for programs that meet the standards and guidelines for colleges and universities who are considering establishing high-quality programs. </p>
<hr>
<h3>About Program Accreditation Standards</h3>
The Program Accreditation Standards address key areas of quality programs including Student Achievement, Curriculum, and Student Services. <a href="https://thinkcollege.net/sites/default/files/files/TCreport_accred_modelstandards_2021.pdf">You can read more about the Program Standards at ThinkCollege.net</a>.

	</div>
	<div class="col-lg-4"> <div class="card call_out"><div class="card-body">
		<p class="lead">You can learn more information about how to prepare for program accreditation </p> <!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
		  Get In Touch
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h1 class="modal-title fs-5" id="contactModalLabel">Modal title</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<form name="contact" method="POST" data-netlify="true">
					<p>
					  <label>Your Name: <input type="text" name="name" /></label>
					</p>
					<p>
					  <label>Your Email: <input type="email" name="email" /></label>
					</p>
					<p>
						<label>Job Title: <input type="text" name="title" /></label>
					</p>
					<p>
					  <label>Message: <textarea name="message"></textarea></label>
					</p>
					<p>
					  <button type="submit">Send</button>
					</p>
				  </form>
				  
			  </div>
			</div>
		  </div>
		  <script>
			const handleSubmit = (event) => {
  event.preventDefault();

  const myForm = event.target;
  const formData = new FormData(myForm);
  
  fetch("/", {
    method: "POST",
    headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(formData).toString(),
  })
    .then(() => console.log("Form successfully submitted"))
    .catch((error) => alert(error));
};

document
  .querySelector("form")
  .addEventListener("submit", handleSubmit);
		  </script>
		</div>
	</div>
 </div>
</div>
</div>
	</div>
</section>




<section id="board">
	<div class="container">
	<h2>Council and Board Members </h2>
	<div class="row row-cols-1 row-cols-md-2 g-4">
	  <div class="col pb-3">
		<div class="card h-100  ">
		  <img src="/img/smith.jpg" class="card-img-top mx-auto" alt="Stephanie Smith">
		  <div class="card-body">
			
			<p class="card-text"><strong>Stephanie Smith Lee, Board President</strong>, is a senior policy advisor with over 30 years of public policy expertise, including senior Congressional staff positions. Since her daughter, Laura, was born with Down syndrome in 1982, she has led successful disability advocacy efforts at the local, state, and Federal levels. As the Director of the US Office of Special Education Programs, she was responsible for the implementation of IDEA, the federal special education law. As Co-Chair of the Inclusive Higher Education Committee, she led the successful effort to obtain federal financial aid and authorize model programs for postsecondary students with ID.</p>
		  </div>
		</div>
	  </div>
	  <div class="col pb-3">
		<div class="card h-100 py-2">
		  <img src="/img/will.png" class="card-img-top mx-auto pb-5" alt="Madeleine C. Will">
		  <div class="card-body">
			<p class="card-text"><strong>Madeleine C. Will, Vice President</strong>,  is a policy expert and advisor. Madeleine has more than 35 years  of experience successfully advocating for individuals with intellectual disabilities and their families. Since her adult son, Jonathan, was born with Down syndrome, she has led successful disability policy efforts at the local, state, and federal levels. She served as the Assistant Secretary of the Office of Special Education and Rehabilitative Services under President Reagan. In 2007, Madeleine founded the Collaboration to Promote Self-Determination. </p>
		  </div>
		</div>
	  </div>
	</div>
	<div class="row row-cols-1 row-cols-md-2 g-4">
	  <div class="col pb-3">
		<div class="card h-100 py-2">
		  <img src="/img/tom.png" class="card-img-top mx-auto" alt="Tom Sannicandro">
		  <div class="card-body">
			<p class="card-text"><strong>Tom Sannicandro</strong>, JD, PhD, Treasurer,  has been practicing law for over 20 years in the areas of disability and special education law, and estate planning. He was formerly the Director of the Institute for Community Inclusion. Tom served in the Massachusetts legislature for 12 years where he authored a number of groundbreaking laws that empower people with disabilities. </p>
		  </div>
		</div>
	  </div>
	  <div class="col pb-3">
		<div class="card h-100 py-2">
		  <img src="/img/elise.png" class="card-img-top mx-auto" alt="Elise McMillan">
		  <div class="card-body">
			<p class="card-text"><strong>Elise McMillan, JD, Clerk</strong>, is the Director of the Vanderbilt Kennedy University Center for Excellence in Developmental Disabilities (UCEDD), Elise McMillan has more than 20 years' experience in leading programs and projects that support individuals with intellectual and developmental disabilities, their families, and their communities. She holds leadership roles in numerous national, state, and community disabilities organizations, including, the Tennessee Council on Developmental  Disabilities, and the Disability Law and Advocacy Center of Tennessee.</p>
		  </div>
		</div>
	  </div>
	</div>
	<div class="row col-lg-8 mx-auto">
		<div class="col pb-3">
		  <div class="card h-100 py-2">
			<img src="/img/mock.jpg" class="card-img-top mx-auto" alt="Martha Mock">
			<div class="card-body">
			  
			  <p class="card-text"><strong>Martha Mock, Ph.D., IHEA Council Executive Director</strong> and a Professor at the Warner School of Education and Human Development, at the University of Rochester. She is also the director of the Center on Disability and Education. Mock has worked alongside and on behalf of individuals with disabilities and their families as a teacher, professor and advocate for three decades. Mock is widely known for her work in the area of college options for students with intellectual and developmental disabilities (IDD). She is the chair of the Accreditation Workgroup for the National Coordinating Center at Think College, and is the co-founder of the New York Inclusive Higher Education Coalition, a group of colleges, agencies, and families interested in promoting inclusive higher education throughout New York State.</p>
			</div>
		  </div>
		</div>
	
	  </div>
		  
	</div>
		
</section>

<section id="partners" class="alt_bg" >
	<div class="container">
	<h3>Partners</h3>
	<div class="row">

	<div class="col-lg border text-center"> <a href="https://thinkcollege.net/projects/ncc"><img alt="National Coordinating Center" src="/img/NCC_logo_300x200.png" class="img-fluid"></a></div>
	
	<div class="col-lg border text-center"><a href="https://weaveeducation.com/"><img src="/img/Weave-Horizontal-Logo-RGB.webp" alt="Weave" class="img"></a></div>
	</div>
	</div>
</section>

