<footer><section id="about" >


	<div class="container">
        <div class="row">
            <div class="col-md-6 column">
              <h3 class="h4">Location</h3>
             <p>We are a virtual office with a registered corporation in Massachusetts.  </p>
            </div>
            <div class="col-md-6 column">
              <h3 class="h4">Contact</h3>
            
                <p>Martha Mock, PhD and Executive Director <br>
                <a href="mailto:iheac@iheacouncil.org">Email iheac@iheacouncil.org</a><br>
                <a href="tel:(585) 276 - 3363">(585)276-3363</a></p>
            </div>
          </div>
	</div>
</section></footer>