<header>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul class="nav">
       
        </ul>
    </nav>
    <div class="row">
        <div class="col-sm-4"><img src="/img/IHEA.jpg" alt="Inclusive Higher Education Accreditation" class="img-fluid"> </div>
        <div class="col-sm-6 offset-sm-2"><h2 class="h3 fade-in-text">The <span class="highlight">Inclusive Higher Education Council</span> is an accrediting agency for college and university programs for students with intellectual disability.</h2>
        </div>
      </div>
</header>