<section id="news">
	<div class="container">
		<h2>IHEAC in the News</h2>
		<hr>

    {%- for news in collections.news -%}

     
      <article>
        
        <h3 class="h5"><a href="{{ news.data.url }}">{{ news.data.title }}</a></h3>
        <p><small>  {% if news.data.date %} {{ news.data.date | postDate  }} {% endif %} {% if news.data.source %} | {{ news.data.source }} {% endif %} {% if news.data.author %} | {{ news.data.author }} {% endif %}</small><br>
        {{ news.data.summary }}</p>
      </article>
      <hr>
    {%- endfor -%}
 
    </div>
</section>