<!doctype html>
<html lang="{{ metadata.language }}">
{% include 'head.html' %}
	<body>
		<div class="container">
			<a class="visually-hidden-focusable" href="#content">Skip to main content</a>


		{% include 'header.html' %} 

		<main id="content">
			{{ content | safe }}
		</main>

{% include 'footer.html' %}		
		</div>
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
